<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的核心配置文件 -->
<configuration>
	<!-- 引入config.properties文件 -->
	<properties resource="config.properties"/>
	<!-- 启用缓存（有的默认是开启的,开启的是二级缓存） -->
	<!-- <settings>
		<setting name="cacheEnabled" value="true"/>
	</settings> -->
	<!-- 默认为指定包中的类定义一个别名，这个别名为类名的第一个单词的首字母小写 -->
	<typeAliases>
		<package name="practice.com.project.mybatis.dao" />
		<package name="practice.com.project.mybatis.vo" />
	</typeAliases>
	<!-- 配置开发环境 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 包含mapper文件到这个配置文件中  -->
	<mappers>
		<mapper resource="mapper/SysUserMapper.xml"/>
	</mappers>
</configuration>
