<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis中的映射文件，对于这个映射文件必须有一个mapper根元素，这个根元素
中必须定义一个命名空间 -->
<mapper namespace="practice.com.project.mybatis.dao.SysUserDao">
	<!-- 定义一个SQL查询，必须要有一个id，其中resultType表示查询
	结果会封装到对应的map类型中，一行记录对应一个map -->
	<select id="findUsers" resultType="map">
		select * from sys_users
	</select>
	<select id="findUserById" resultType="map" parameterType="int">
		select * from sys_users where id=#{id}
	</select>
	<insert id="insertObject" parameterType="sysUser">
		insert into sys_users(id,username,password,phone,createdDate,modifiedDate)
		values(null,#{username},#{password},#{phone},now(),now())
	</insert>
</mapper>
