<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis中的映射文件，对于这个映射文件必须有一个mapper根元素，这个根元素
中必须定义一个命名空间 -->
<mapper namespace="practice.com.project.mybatis.dao.SysUserDao">
	<!-- 定义一个SQL查询，必须要有一个id，其中resultType表示查询
	结果会封装到对应的map类型中，一行记录对应一个map -->
	<select id="findUsers" resultType="map">
		select * from sys_users
	</select>
	<select id="findUserById" resultType="map" parameterType="int">
		select * from sys_users where id=#{id}
	</select>
	<insert id="insertObject" parameterType="sysUser">
		insert into sys_users(id,username,password,phone,createdDate,modifiedDate)
		values(null,#{username},#{password},#{phone},now(),now())
	</insert>
	<update id="updateObject" parameterType="sysUser">
		update sys_users set username=#{username},password=#{password},phone=#{phone},
		createdDate=now(),modifiedDate=now() where id=#{id}
	</update>
	<delete id="deleteObject" parameterType="int">
		delete from sys_users where id=#{id}
	</delete>
	<!-- 当查询的结果与要映射的对象字段不匹配时，可以使用ResultMap做映射转换 -->
	<!-- 使用resultMap定义映射关系 -->
	<resultMap type="account" id="amap">
		<result property="uname" column="username"/>
		<result property="pwd" column="password"/>
	</resultMap>
	<!-- 定义一个SQL查询 -->
	<!-- 当数据库返回的字段名与要映射对象属性和set方法不匹配，需要使用resultMap做具体映射 -->
	<select id="findNameAndPwd" resultMap="amap">
		select username,password from sys_users
	</select>
	<!-- useGeneratedKeys="true"使用的前提是数据库必须要支持自增长 -->
	<insert id="insertObject1" parameterType="sysUser"
		useGeneratedKeys="true" keyProperty="id">
       insert into sys_users(id,username,password,phone,createdDate,modifiedDate)
       values(null,#{username},#{password},#{phone},now(),now())
	</insert>
	
	<select id="findUsers1" resultType="map">
		select * from sys_users where phone=#{phone} order by ${columnName} desc
	</select>
</mapper>
